.navbar-default {
    background-color: #fff;
}

nav ul li a {
    margin-top: 12px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

nav ul li a:hover {
    border-bottom: 3px solid #3276b1;
}

.icon-nav {
    padding-right: 5px;
}

.button-nav {
    background-color: #6495ED;
    box-shadow: 0 3px #3276b1;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px 10px 20px;
    margin-top: 12px;
    margin-left: 8px;
    border: none;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.button-nav:hover {
    box-shadow: 0 5px #3276b1;
}

#info {
    margin-top: -20px;
    background-color: #ebebeb;    
}

.info-h1 {
    width: 210px;
    border: 2px solid #6495ED;
}
.button-nav-t{
    width: 180px;
    margin-top: 0;
}
.top-f{
    margin-top: 4px
}
#rango{
    margin-left: 60px;
}